# Python-related
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Virtual environment
venv/
env/
*.venv
.python-version

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# AWS Lambda deployment package
*.zip

# Dependency directories
lib/
libs/

# Additional dependency directories and files
bin/
boto3*/
botocore*/
dateutil/
jmespath*/
python_dateutil*/
s3transfer*/
six*.py
six*.dist-info/
slack/
slack_sdk*/
urllib3*/